.no_data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: x-large;
  color: #ada7a7;
}

.mat-mdc-header-row {
  background-color: #d7cece;
  height: 40px;
}

.mat-mdc-header-cell:first-child {
  border-top-left-radius: 25px;
  padding: 10px;
}

.mat-mdc-header-cell:last-child {
  border-top-right-radius: 25px;
}

.add_user {
  position: absolute;
  bottom: 15%;
  right: 3%;
  background-color: #4caf50;
  color: white;
}

@media (max-width: 768px) {
  .mat-mdc-header-row,
  .mat-mdc-header-cell,
  .mat-cell {
    font-size: 0.75rem;
    padding: 2px;
    margin: 2px;
  }

  .mat-tooltip {
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 4px;
  }

  .mat-table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  .add_user {
    bottom: 10%;
    right: 5%;
    transform: scale(0.8);
  }
}

// .small-icon {
//   width: 24px;
//   height: 24px;
// }