.filter_container {
  position: relative;
  height: 10px;
}

.filter_field {
  width: 100%;
  position: absolute;
  top: 0;
}

.table_container {
  margin-top: 60px;
}

.no_data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: x-large;
  color: #ada7a7;
}

.add_user_btn {
  position: fixed;
  bottom: 15%;
  right: 3%;
  background-color: #4caf50;
  color: white;
  z-index: 200;
}

.paginator {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 10;
  padding: 10px 0;
  max-height: 50px;
}

.mat-mdc-header-row {
  background-color: #d7cece;
  height: 40px;
}

.mat-mdc-header-cell:first-child {
  border-top-left-radius: 25px;
  padding: 10px;
}

.mat-mdc-header-cell:last-child {
  border-top-right-radius: 25px;
}

@media (max-width: 768px) {
  .mat-mdc-header-row,
  .mat-mdc-header-cell,
  .mat-cell {
    font-size: 0.75rem;
  }

  .mat-tooltip {
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 4px;
  }

  .mat-table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  .add_user_btn {
    bottom: 9%;
    right: 4%;
    transform: scale(0.8);
  }
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-paginator {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  ::ng-deep .mat-paginator {
    font-size: 0.875rem;
    padding: 0 8px;
  }

  ::ng-deep .mat-paginator .mat-paginator-range-label,
  ::ng-deep .mat-paginator .mat-select-trigger,
  ::ng-deep .mat-paginator .mat-icon-button {
    margin: 0 4px;
  }

  ::ng-deep .mat-paginator .mat-select {
    min-width: auto;
    width: 70px;
  }

  ::ng-deep .mat-mdc-paginator-range-label {
    margin: 0px !important;
  }
}

::ng-deep .mat-mdc-paginator-container {
  flex-wrap: nowrap !important;
  justify-content: start !important;
}